.button {
    cursor: pointer;
    padding: 6px 12px;
    box-shadow: 0px 0px;
    background: transparent;
    border: 1px solid #e3e6ef;
    font-weight: 500;
    border-radius: 4px;
    color: #5a5f7d;
    background-color: white;
}